<h1>Admin</h1>

<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Users</p-tab>
    <p-tab value="1">Campground Attributes</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      @if (usersError()) {
        <p-message severity="error">{{ usersError() }}</p-message>
      }
      <p-table [value]="users()">
        <ng-template #header>
          <tr>
            <th>Email</th>
            <th>Display Name</th>
            <th>Role</th>
            <th>Suspended</th>
            <th>Created</th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template #body let-user>
          <tr>
            <td>{{ user.email }}</td>
            <td>{{ user.displayName }}</td>
            <td>
              <p-select
                [ngModel]="user.role"
                [options]="roleOptions"
                optionLabel="label"
                optionValue="value"
                (onChange)="onRoleChange(user.id, $event.value)"
              />
            </td>
            <td>
              <button pButton [text]="true" (click)="onToggleSuspended(user)">
                {{ user.suspended ? 'Unsuspend' : 'Suspend' }}
              </button>
            </td>
            <td>{{ user.createdAt | date }}</td>
            <td>
              @if (confirmingDeleteUserId() === user.id) {
                <button pButton [text]="true" (click)="onCancelDeleteUser()">Cancel</button>
                <button pButton severity="danger" (click)="onConfirmDeleteUser(user.id)">Yes, delete</button>
              } @else {
                <button pButton severity="danger" [text]="true" (click)="onDeleteUser(user.id)">Delete</button>
              }
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabpanel>
    <p-tabpanel value="1">
      <!-- Campground Attributes tab content added in Task 8 -->
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>
