@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */

.trip-stop-marker {
  background: #16a34a;
  color: #fff;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 0.85rem;
}
